/* @import "mocha.css"; */

/* Add Spacing to the right */
.modules-right > widget > * {
    margin: 0 10px 0 0;
}

/* Use gtk base themee */
window#waybar {
    font-family: inherit;
    background: @theme_base_color;
    border-bottom: 1px solid @unfocused_borders;
    color: @theme_text_color;
}

