* {
  font-family: "JetBrains Mono";
  font-size: 14px;
}

window {
  margin: 0px;
  border-radius: 12px;
  background-color: #1e1e2e;
  border: 2px solid #89b4fa;
}

#input {
  margin: 12px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: #313244;
  color: #cdd6f4;
}

#inner-box {
  margin: 8px;
}

#entry {
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
  color: #cdd6f4;
}

#entry:selected {
  background-color: #89b4fa;
  color: #1e1e2e;
}

#text {
  margin-left: 8px;
}
